*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #f3f5f5;
  font-size: 30px;
  color: #090766;
  text-align: center;
  font-weight: bold;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 30px;
}

.input {
  border-radius: 5px;
  width: 300px;
  padding: 5px;
  &::placeholder {
    color: rgba(109, 109, 109, 0.5);
    font-size: 20px;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

.photo-card {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), -23px 0 20px -23px rgba(0, 0, 0, 0.6),
    23px 0 20px -23px rgba(0, 0, 0, 0.6), inset 0 0 40px rgba(0, 0, 0, 0.1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-card:hover {
  transform: scale(1.05);
}

.photo-img {
  cursor: pointer;
  height: 200px;
  width: 300px;
  object-fit: cover;
}

.stats {
  display: flex;
  justify-content: space-evenly;
}

.stats-item {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.stats-item i {
  margin-bottom: 5px;
  color: #36454f;
}

.is-hidden {
  display: none;
}

.btn {
  min-width: 100px;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  border-color: #36454f;
  background-color: #36454f;
  color: #ffffff;
  font-family: inherit;
  font-size: inherit;
}

.btn:hover {
  background-color: #d62d20;
  border-color: #d62d20;
}

// .card__image {
//   height: 300px;
//   object-fit: cover;
//   max-width: 100%;
// }
